# fly.toml app configuration file generated for quantamental-api on 2026-01-07T21:46:21-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

# Deploy to Fly.io
#
# 0. Push all changes to git
# 1. flyctl deploy
# 2. flyctl logs

app = 'quantamental-api'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
